DriverSingleton.java : Intialises the Remote WebDriver and ensures only one instances of the driver is running at a time
HomePage methods
- getTitle()
- searchCity(cityName)
- fetchCityNamesFromCards()
- isInvalidCityMessageDisplayed()
- isValidCityDisplayedInAutoComplete(cityName)
- clickOnCity(cityName)
- clickLoginButton()
- clickRegisterButton()
- isUserLoggedIn()
    clickLoginButton(), clickRegisterButton() methods should check if the user is already logged in, if yes then it should click on the logout button before navigating to login or register page
- clickLogoutButton()
    isUserLoggedIn() method should be called first, to check if the user is logged in, if yes then it should click on the logout button, else return 'false' indicating that the user is not logged in
LoginPage methods
- loginUser(email, password)
- isPageLoaded()
- enterEmail()
- enterPassword()
- clickLoginButton()
RegisterPage methods
- registerUser(email, password, repeatPassword, generateRandomEmail)
    - if generateRandomEmail is true, then generate a random email by appending "+" and UUID.randomUUID() to a email username(before the @ symbol) and use it for registration
    - if generateRandomEmail is false, then use the provided email for registration
- isPageLoaded()
- enterEmail()
- enterPassword()
- enterRepeatPassword()
- clickRegisterButton()
- verifyRegistrationSuccess()
- verifyRegistrationFailure()
AdventurePage methods
- searchCity()
- selectCity()
- selectFilters()
- selectCategory()
- clearFilters()
- clearCategory()
- verifyDataDisplayed()
AdventureDetailsPage methods
- enterName()
- enterDate()
- selectDateOnCalendar()
- enterPerson()
- clickReserveButton()
- verifyReservationSuccess()
- clickReservationsButton()
ReservationsPage methods
- getTransactionID()
- cancelReservation()


Steps for testcases:
Testcase01:
1. Navigate to Home Page of QTrip
2. Click on the Register Page
3. Verify that registration page is displayed
4. Enter email , Password & Confirm Password
5. Click on Register Now
6. Verify that User is Navigated to Login Page
7. Enter the created user credentials and click on Login
8. Verify that the user is Logged in
9. Click on the Logout Button
10. Verify that the user is logged out
Testcase02:
1. Navigate to the Home page of QTrip
2. Search for a city that is not present
3. Verify if the no matches found message is displayed
4. Search for a city that is present
5. verify that the city is displayed on auto complete
6. Click on the city
7. Select Filters : hours
8. Verify that appropriate data is displayed
9. Select category
10. Verify that appropriate data is displayed
11. Clear Filters and category
12. Verify that all the records are displayed
Testcase03:
1. Navigate to QTrip
2. Create a new User
3. Search for an adventure
4. Enter Name and Date and Reserve the adventure
5. Verify that the adventure booking was successful
6. Click on the reservations page
7. Note down the transaction ID
8. Cancel the Reservation
9. Refresh the page
10. Check if the transaction ID is removed
Testcase04:
1. Navigate to QTrip
2. Create a new User
3. Search for an adventure
4. Enter Name and Date and Reserve the adventure
5. Verify that the adventure booking was successful
6. Repeat steps 3 to 5, to make two more bookings
7. Click on the reservations Page
8. Check if all the bookings are displayed on the reservations page

All Verification steps must pass without any assertion errors for the test case to be considered successful, for all the test cases.
If test step says 'enter data' then Testcase should call the respective method to enter the data, 
    if test step says 'click on button' then Testcase should call the respective method to click on the button and so on.
If specifically not mentioned, then test step should call the respective method to perform the action mentioned in the test step.
Eg: If step says 'enter email and password' and in next step if it says 'click on login button',
    then Testcase should call the respective methods to enter email and password and then call the respective method to click on login button.
    Instead if a singlestep says 'enter email and password and click on login button' or simply 'login user',
    then Testcase should call the respective method(loginUser) to enter email and password and click on login button in a single step.
Each test step should be implemented by calling the respective method from the respective page class.
Add comments in the code to explain the steps being performed in the test case.
If Register is followed by Login in the test steps, then Testcase remember the registered user credentials and use it for login, instead of creating a new user for login. This will ensure that the test case is more efficient and runs faster, as it will not have to create multiple users for registration and login in the same test case.
Testcases should use DataProvider to fetch test data from excel sheet in resources folder, using the @DataProvider annotation and DP.java, not hardcoded values.