<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="QTrip Suite" verbose="1">
    <listeners>
        <listener class-name="qtriptest.reports.ExtentTestListener" />
    </listeners>
    <test name="QTrip Tests">
        <classes>
            <class name="qtriptest.tests.Testcase01" />
            <class name="qtriptest.tests.Testcase02" />
            <class name="qtriptest.tests.Testcase03" />
            <class name="qtriptest.tests.Testcase04" />
        </classes>
    </test>
    <test name="QTrip API Tests">
        <groups>
            <run>
                <include name="API Tests" />
            </run>
        </groups>
        <classes>
            <class name="qtriptest.API_tests.testCase_API_01" />
            <class name="qtriptest.API_tests.testCase_API_02" />
            <class name="qtriptest.API_tests.testCase_API_03" />
            <class name="qtriptest.API_tests.testCase_API_04" />
        </classes>
    </test>
</suite>
